Repository cyrus01337/astro-app-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
    "*.ts": ["prettier --write", "eslint"],
    "*.{js,mjs,cjs}": ["prettier --write", "eslint"],
    "*.{json,md}": ["prettier --write"]
}

Fallback to non-type-checked ESLint
  bun.lockb
  eslint.config.js
  package.json
Due: prettier --write, eslint

Revert "Remove tsc-files in favour of type-checked ESLint"
  .lintstagedrc
  bun.lockb
  package.json
Due: prettier --write

Add Prettier-compatible ESLint configuration
  eslint.config.js
Due: prettier --write, eslint

Integrate Neovim into development workflow
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
Due: prettier --write

Externalise devcontainer configuration and setup script
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/install-dive.sh
  .devcontainer/install-github-cli.sh
  .devcontainer/setup.sh
  .gitmodules
Due: prettier --write

Ignore Linux local file recycle bin
  .gitignore
Due: none

Rename pipeline
  .github/workflows/pipeline.yaml
Due: none

Prefer external configurations
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .prettierignore
Due: prettier --write

Tidy
  .github/workflows/pipeline.yaml
Due: none

Clarify source of artifacts
  .gitignore
Due: none

Ignore Husky install script
  .github/workflows/pipeline.yaml
  .husky/install.js
Due: prettier --write, eslint

Remove orphan setup files
  .devcontainer/Dockerfile
  .devcontainer/install-dive.sh
  .devcontainer/install-github-cli.sh
Due: none

Ignore external configuration and Husky install script
  eslint.config.js
Due: prettier --write, eslint

IT'S FUCKING MARIO!!!!!!!!!!!!!!!
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .editorconfig
  .github/workflows/pipeline.yaml
  .gitignore
  .gitmodules
  .husky/install.js
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  README.md
  astro.config.mjs
  bun.lockb
  eslint.config.js
  package.json
  src/env.d.ts
  src/layouts/base.astro
  src/pages/index.astro
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint

IT'S FUCKING MARIO!!!!!!!!!!!!!!!
  .gitmodules
Due: none

Use alternate symbol for referencing project root
  src/pages/index.astro
  tsconfig.json
Due: prettier --write

Ignore Dolphin artifacts
  .gitignore
Due: none

Only allow 1 running job, prioritising latest
  .github/workflows/pipeline.yaml
Due: none

Speed up auto-formatting
  bun.lockb
  package.json
Due: prettier --write
